.pizzaoption {
  background: #FFE8EC;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
  color:#FF1842;
  border: 1px solid #FF1842;
}

.pizzaoptionselected {
  background: #FF1842;
  color:#FFFFFF;
  border: 1px solid #FF1842;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.pizzaoption:hover {
  background: #FF1842;
  color:#FFFFFF;
}

.pickles {
  background-image:url("https://res.cloudinary.com/djlggawlm/image/upload/v1666722796/Anita%20Pizza/pickles_pwfazd.png");
}

.mushrooms {
  background-image:url("https://res.cloudinary.com/djlggawlm/image/upload/v1666722796/Anita%20Pizza/mushrooms_cm5tlx.png");
}

.egg {
  background-image:url("https://res.cloudinary.com/djlggawlm/image/upload/v1666723640/Anita%20Pizza/egg_v5sccw.png");
}
