.pizzaoption {
  background: #FFE8EC;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
  color:#FF1842;
  border: 1px solid #FF1842;
}

.pizzaoptionselected {
  background: #FF1842;
  color:#FFFFFF;
  border: 1px solid #FF1842;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.pizzaoption:hover {
  background: #FF1842;
  color:#FFFFFF;
}

.pickles {
  background-image:url("https://res.cloudinary.com/djlggawlm/image/upload/v1666722796/Anita%20Pizza/pickles_pwfazd.png");
}

.mushrooms {
  background-image:url("https://res.cloudinary.com/djlggawlm/image/upload/v1666722796/Anita%20Pizza/mushrooms_cm5tlx.png");
}

.egg {
  background-image:url("https://res.cloudinary.com/djlggawlm/image/upload/v1666723640/Anita%20Pizza/egg_v5sccw.png");
}

.pepperoni {
  background-image:url("https://res.cloudinary.com/djlggawlm/image/upload/v1666782559/Anita%20Pizza/Frame_33_bolevw.png");
}

.queso {
  background-image:url("https://res.cloudinary.com/djlggawlm/image/upload/v1666782559/Anita%20Pizza/queso_qhbfz8.png");
}

.greens {
  background-image:url("https://res.cloudinary.com/djlggawlm/image/upload/v1666782559/Anita%20Pizza/greens_txuchk.png");
}

.sauce {
  background-image:url("https://res.cloudinary.com/djlggawlm/image/upload/v1666775160/Anita%20Pizza/tomatosauce_ndb67d.png");
}

.cutlery {
  background-image:url("https://res.cloudinary.com/djlggawlm/image/upload/v1666722796/Anita%20Pizza/louis-hansel-cC0_UO1Obg4-unsplash_1_uaiylr.png");
}

.pizzabase {
  background-image:url("https://res.cloudinary.com/djlggawlm/image/upload/v1666698496/Anita%20Pizza/centered_pizza_hnvbjf.png");
}

.woodbg {
  background-image:url("https://images.unsplash.com/photo-1506968430777-bf7784a87f23?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
}
