@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #160007;
}

@font-face {
  font-family: "SunsetClub";
  src: url("./assets/SunsetClub.woff");
}

h1,h2,h3 {
  font-family:'sunsetclub', cursive;
}

.fancyfont {
  font-family:'sunsetclub', cursive;
}

.pizzarollslow {
  animation: rotate 120s infinite linear;
}

.pizzarollquick {
  animation: rotate 90s infinite linear;

}

@keyframes rotate{
  from{ transform: rotate(-360deg); }
  to{ transform: rotate(360deg); }
}

.pizzacard {
  background: linear-gradient(180deg, rgba(77, 7, 20, 0.2) 0%, rgba(255, 24, 66, 0) 45.42%), #FFF5F7;
}

.pizzashadow {
  filter: drop-shadow(18px 18px 36px rgba(89, 31, 41, 0.5)) drop-shadow(-20px -20px 40px rgba(255, 118, 141, 0.5));
}

.innershadow {
  animation: flicker 1.5s infinite alternate;
}

.flickeryellow {
  animation: flickeryellow 1.5s infinite alternate;
}

.invertedcorner::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: -40px;
    right:0;
    height: 40px;
    width: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0.5px 20px 0 0 #FF1842;
    z-index: 10;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
    0 0 7px #ffbac7,
    0 0 10px #ffbac7,
    0 0 21px #ffbac7,
    0 0 60px #FF1842,
    0 0 70px #FF1842,
    0 0 80px #FF1842,
    0 0 90px #FF1842,
    0 0 100px #FF1842;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}

@keyframes flickeryellow {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
    0 0 7px #FFF8D6,
    0 0 10px #FFF8D6,
    0 0 21px #FFF8D6,
    0 0 60px #FFD71C,
    0 0 70px #FFD71C,
    0 0 80px #FFD71C,
    0 0 90px #FFD71C,
    0 0 100px #FFD71C;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}

@keyframes still {
  from {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
  }
  to {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
  }
}
@keyframes spin {
  from {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(360deg);
  }
}

.pizza-box {
  animation: spin 9s infinite linear;
  background: #fff;
  box-shadow: 0 0 6vh 2vh rgba(0, 0, 0, 0.4) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 40vh;
  transform-style: preserve-3d;
}

.lid-underside,
.lid {
  background-color: #f6f6f6;
  box-shadow: 0 0 4vh 1vh rgba(0, 0, 0, 0.2) inset;
  height: 40vh;
  width: 40vh;
  position: absolute;
  transform: rotateX(86deg) translateY(3.9vh) translateZ(0.2vh);
  transform-origin: top center;
  transition: transform 0.3s ease-in;
  z-index: 1;
}

.lid-underside {
  background-color: #dedede;
  transform: rotateX(86deg) translateY(4vh) translateZ(0.1vh);
}

.pizza-box:hover .lid {
  transform: rotateX(0deg) translateY(0) translateZ(4vh);
}

.pizza-box:hover .lid-underside {
  transform: rotateX(0deg) translateY(0) translateZ(3.9vh);
}

.pizza-box-side {
  background-color: #f6f6f6;
  box-shadow: 0 0 4vh 1vh rgba(0, 0, 0, 0.2) inset;
  height: 4vh;
  position: absolute;
  transform: rotateX(90deg);
  transform-origin: top;
  width: 40vh;
}
.front-side {
  background: linear-gradient(to right, rgba(214,214,214,1) 0%,rgba(246,246,246,1) 15%,rgba(246,246,246,1) 100%);
  transform: translateY(-18vh) rotateX(90deg);
}
.back-side {
  background-color: #bbb;
  bottom: -4vh;
}
.left-side {
  background-color: #ccc;
  transform: rotateX(90deg) rotateY(90deg) rotateZ(0deg) translateX(-18vh);
  transform-origin: 0 top;
}
.right-side {
  background-color: #ddd;
  bottom: -4vh;
  transform: rotateX(90deg) rotateY(90deg) rotateZ(0deg);
  transform-origin: 100% top;
}

.logo {
  background: url("https://res.cloudinary.com/djlggawlm/image/upload/v1666463296/Anita%20Pizza/oven_fresh_wknhz6.png");
  height: 40vh;
  background-size:contain;
  background-repeat:no-repeat;
}

.pizza {
  background: url("https://res.cloudinary.com/djlggawlm/image/upload/v1666450897/Anita%20Pizza/Pizzaswitch_euwnap.png");
  background-size:cover;
  border-radius: 50%;
  box-shadow: 0 0 2vh 1.5vh rgb(173, 117, 81) inset;
  display: block;
  height: 36vh;
  width: 36vh;
  padding: 4vh;
  transform-style: preserve-3d;
}
